In [1]:
import pandas as pd
df = pd.read_csv("listings_final.csv")

In [2]:
df

,listing_id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,review_scores_accuracy,review_scores_communication,review_scores_checkin,review_scores_rating,maximum_nights,listing_url,host_is_superhost,host_response_time,host_response_rate,price_eur
0,914274430810474746,Rental unit in Bydel Alna · ★5.0 · 2 bedrooms ...,34923127,Leif,Alna,59.936718,10.925452,Entire home/apt,750,3,...,4.8,5.0,4.8,5.000000,31,https://www.airbnb.com/rooms/914274430810474746,False,within an hour,100.000000,63.451777
1,42932,Rental unit in Oslo · ★4.90 · 2 bedrooms · 3 b...,187463,Cecilie,Frogner,59.912010,10.724550,Entire home/apt,3400,3,...,5.0,5.0,4.9,4.900000,1125,https://www.airbnb.com/rooms/42932,True,within an hour,100.000000,287.648054
2,69964,Rental unit in Oslo · ★4.78 · 1 bedroom · 1 be...,175633,Kristin,Sagene,59.940590,10.773970,Entire home/apt,1098,28,...,4.8,5.0,5.0,4.780000,600,https://www.airbnb.com/rooms/69964,False,within an hour,92.673406,92.893401
3,71725,Rental unit in Oslo · ★4.74 · 1 bedroom · 2 be...,368229,Reidun,Gamle Oslo,59.907950,10.779870,Private room,573,14,...,4.7,4.9,5.0,4.740000,730,https://www.airbnb.com/rooms/71725,True,within an hour,92.673406,48.477157
4,85902,Condo in Oslo · ★4.77 · 2 bedrooms · 3 beds · ...,250159,Melissa,Gamle Oslo,59.910740,10.772320,Entire home/apt,1300,3,...,4.8,4.8,4.7,4.770000,21,https://www.airbnb.com/rooms/85902,True,within an hour,100.000000,109.983080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9392,985849520934471091,Home in Stovner · ★New · 1 bedroom · 1 bed · 1...,60795173,Geir,Stovner,59.951810,10.933880,Private room,490,1,...,4.8,4.9,4.8,4.797067,365,https://www.airbnb.com/rooms/985849520934471091,False,within an hour,92.673406,41.455161
9393,985970174819128360,Rental unit in Bydel Alna · ★New · 1 bedroom ·...,538343984,Lisa,Alna,59.934833,10.880896,Entire home/apt,870,1,...,4.8,4.9,4.8,4.797067,365,https://www.airbnb.com/rooms/985970174819128360,False,within an hour,92.673406,73.604061
9394,986009309273260425,Rental unit in Grünerløkka · ★New · 1 bedroom ...,538154584,Simon,Grünerløkka,59.918982,10.762396,Entire home/apt,1200,1,...,4.8,4.9,4.8,4.797067,30,https://www.airbnb.com/rooms/986009309273260425,False,within an hour,92.673406,101.522843
9395,986111854670236514,Rental unit in Frogner · ★New · 1 bedroom · 1 ...,325562923,Andrea,Frogner,59.914036,10.708848,Entire home/apt,1100,1,...,4.8,4.9,4.8,4.797067,60,https://www.airbnb.com/rooms/986111854670236514,False,within an hour,92.673406,93.062606
9396,986288088626056805,Rental unit in Gamle Oslo · ★New · 1 bedroom ·...,43576230,Lyusine,Gamle Oslo,59.917329,10.797090,Private room,600,5,...,4.8,4.9,4.8,4.797067,365,https://www.airbnb.com/rooms/986288088626056805,False,within an hour,100.000000,50.761421

In [3]:
from pycaret.regression import *

In [4]:
df.columns

Index(['listing_id', 'name', 'host_id', 'host_name', 'neighbourhood',
       'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm', 'property_type', 'accommodates',
       'first_review', 'review_scores_value', 'review_scores_cleanliness',
       'review_scores_location', 'review_scores_accuracy',
       'review_scores_communication', 'review_scores_checkin',
       'review_scores_rating', 'maximum_nights', 'listing_url',
       'host_is_superhost', 'host_response_time', 'host_response_rate',
       'price_eur'],
      dtype='object')

In [5]:
df_pred = df.copy()
df_pred_new = df_pred[["neighbourhood","accommodates", "property_type", "room_type", "price", "minimum_nights", "maximum_nights" ]]

In [6]:
df_pred_new.head()

,neighbourhood,accommodates,property_type,room_type,price,minimum_nights,maximum_nights
0,Alna,3,Entire rental unit,Entire home/apt,750,3,31
1,Frogner,3,Entire rental unit,Entire home/apt,3400,3,1125
2,Sagene,3,Entire rental unit,Entire home/apt,1098,28,600
3,Gamle Oslo,2,Private room in rental unit,Private room,573,14,730
4,Gamle Oslo,4,Entire condo,Entire home/apt,1300,3,21

In [7]:
setup = setup(df_pred_new, target = "price")

In [8]:
best = compare_models()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

In [9]:
llar = create_model("llar")

In [10]:
tuned_llar = tune_model(llar)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [11]:
evaluate_model(tuned_llar)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [12]:
final_llar_best = finalize_model(tuned_llar)

In [13]:
save_model(tuned_llar, "ml_airbnb")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['accommodates', 'minimum_nights',
                                              'maximum_nights'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['neighbourhood', 'property_type',
                                              'room_type'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['neighbourhood', 'room_type'],
                                     transformer=OneHotEncoder(cols=['neighbourhood',
                                                                     'room_type'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['property_type'],
                                     transformer=TargetEncoder(cols=['property_type'],
                                                               handle_missing='return_nan'))),
                 ('trained_model', LassoLars(random_state=5778))]),
 'ml_airbnb.pkl')